.table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #487cb0; /* Verde oscuro */
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table >tbody > td {
  background-color: white;
  color: black;
}


